@import '../../styles/variables.scss';

.home-page-container {
  text-align: center;
}
.home-page-header {
  display: flex;
  padding-bottom: 5rem;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}
.left-panel {
  flex: 50%;
}
.right-panel {
  @extend .left-panel;
}
.home-page-title {
  font-family: serif;
  font-size: 5rem;
  @media screen and (max-width: 800px) {
    font-size: 3rem;
  }
}
.home-page-subtitle {
  font-size: 2rem;
}
.get-started-button {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  margin-top: 5rem;
  cursor: pointer;
  background-color: $deepPink;
  color: white;
  border: unset;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 1rem;
}
