@import '../styles/variables.scss';

.body-container {
  padding-top: 5rem;
}
.light-theme {
  color: $darkBlue;
}
.dark-theme {
  color: white;
  background-color: $darkBlue;
  .header {
    background-color: $darkBlue;
  }
  .select-category__container {
    @extend .dark-theme;
  }
  .popular-list-item-wrapper {
    &:hover {
      box-shadow: 0 0 10px rgba(245, 243, 243, 0.5);
    }
  }
}
